/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:44:08 AM
    Author     : Shreyash Agrawal
*/

.content{
                box-shadow: 5px 5px 9px #444;
                margin-top: 30px;
                background-color:#f4f4f4;
                right: 50px;
                margin-left: 100px;
                margin-right: 100px;
                width: 1100px;
                height: auto;
                padding: 20px;
                padding-top: 50px;
            }
            
           